<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: formField(title = ${customer.getFullName()})"></head>
<style>
    .input-edit-profile{
        background: transparent;
        border: 1px solid #cccc;
        border-radius: 3px;
        box-sizing: border-box;
        flex: 0 1 355px;
        font-size: 14px;
        height: 40px;
        padding: 0 10px;
        width: 100%;
    }
    .input-edit-profile:disabled{
        background-color: rgb(239, 239, 239);
        border-color: rgb(219, 219, 219);
        color: rgb(142, 142, 142);
        cursor: not-allowed;
    }
    .t-r{
        top: 10px;
        right: 25px;
    }

</style>

<body class="animsition">

<header th:if="${customer} != null">
    <div th:replace="fragments/nav :: formField(imgview = 'null',fullname = ${customer.getFullName()})"></div>
</header>
<header th:if="${customer} == null">
    <div th:replace="fragments/nav"></div>
</header>
<section style="background-color: #eee;" class="p-b-140 bg0 p-t-80 p-b-50">
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/user}">User</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/user/edit}">edit</a></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3" th:text="${customer.getFullName()}"></h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a th:href="@{/user}"><button type="button" class="btn btn-outline-primary ms-1">Profile</button></a>
                            <a><button type="button" class="btn btn-outline-primary ms-1">Changes Password</button></a>
                        </div>
                    </div>
                </div>
                <!--                <div class="card mb-4 mb-lg-0">-->
                <!--                    <div class="card-body p-0">-->
                <!--                        <ul class="list-group list-group-flush rounded-3">-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fas fa-globe fa-lg text-warning"></i>-->
                <!--                                <p class="mb-0">https://mdbootstrap.com</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>-->
                <!--                                <p class="mb-0">@mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">-->
                <!--                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>-->
                <!--                                <p class="mb-0">mdbootstrap</p>-->
                <!--                            </li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="col-lg-8">

                <div class="row">
                    <div class="card mb-4">
                        <div class="card-body">
                            <form th:object="${customer}" method="post">
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">First Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-edit-profile"  th:field="*{firstName}" >
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">Last Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-edit-profile"  th:field="*{lastName}" >
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">Date</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="date" class="input-edit-profile"  th:field="*{birthday}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9 ">
                                        <input type="text" class="input-edit-profile"  th:field="*{email}" disabled>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">Phone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="input-edit-profile"   th:field="*{phoneNumber}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">Address</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text"  class="input-edit-profile"  th:field="*{address}">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3 m-auto">
                                        <p class="mb-0">Confirm Password</p>
                                    </div>
                                    <div class="col-sm-9 position-relative">
                                        <input type="password"  class="input-edit-profile" id="confirm_password"  >
                                        <button type="button" id="btnToggle" class="toggle t-r"><i id="eyeIcon" class="bi bi-eye"></i></button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="button" class="btn btn-outline-primary ms-1">Save</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Categories
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Women
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Men
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shoes
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Watches
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Help
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Track Order
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Returns
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            Shipping
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    GET IN TOUCH
                </h4>

                <p class="stext-107 cl7 size-201">
                    Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
                </p>

                <div class="p-t-27">
                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa fa-pinterest-p"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="stext-301 cl0 p-b-30">
                    Newsletter
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <div class="flex-c-m flex-w p-b-18">
                <a href="#" class="m-all-1">
                    <img src="/images/icons/icon-pay-01.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/images/icons/icon-pay-02.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/images/icons/icon-pay-03.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/images/icons/icon-pay-04.png" alt="ICON-PAY">
                </a>

                <a href="#" class="m-all-1">
                    <img src="/images/icons/icon-pay-05.png" alt="ICON-PAY">
                </a>
            </div>

            <p class="stext-107 cl6 txt-center">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

            </p>
        </div>
    </div>
</footer>


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
</div>
<div th:replace="fragments/addjs"></div>
<script>
    let passwordInput = document.getElementById('confirm_password'),
        toggle = document.getElementById('btnToggle'),
        icon =  document.getElementById('eyeIcon');

    function togglePassword() {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.add("bi-eye-slash");
            icon.classList.remove("bi-eye");
            //toggle.innerHTML = 'hide';
        } else {
            passwordInput.type = 'password';
            icon.classList.remove("bi-eye-slash");
            icon.classList.add("bi-eye");
            //toggle.innerHTML = 'show';
        }
    }

    function checkInput() {
        //if (passwordInput.value === '') {
        //toggle.style.display = 'none';
        //toggle.innerHTML = 'show';
        //  passwordInput.type = 'password';
        //} else {
        //  toggle.style.display = 'block';
        //}
    }

    toggle.addEventListener('click', togglePassword, false);
    // passwordInput.addEventListener('keyup', checkInput, false);
</script>

</body>
</html>