<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head th:replace="admin/fragmientAdmin/head :: formField(title = 'Admin')"></head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <nav th:replace="admin/fragmientAdmin/nav"></nav>

  <aside th:replace="admin/fragmientAdmin/slider-bar"></aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Starter Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                  <h3>create Product</h3>
                  <form th:action="@{/admin/product/create}"  method="post">
                      <div class="col-12">
                        <label for="productname" class="form-label">Product name</label>
                        <input type="text" class="form-control" id="productname"  required>
                        <div class="valid-feedback">
                          Looks good!
                        </div>
                      </div>
                      <div class="col-12">
                        <label for="validationCustom04" class="form-label">Category</label>
                        <select class="form-select" id="validationCustom04" required>
                          <option selected disabled value="">Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="col-12">
                        <label for="thumbnail" class="form-label">Thumbnail</label>
                        <input type="file" class="form-control" id="thumbnail"  required>
                      </div>
                      <div class="col-12">
                        <label for="shordescription" class="form-label">Short description</label>
                          <input type="text" class="form-control" id="shordescription"  required>

                        </div>
                      <div class="col-12">
                        <label for="Description" class="form-label">Full Description</label>
                        <input type="text" class="form-control" id="Description" required>
                      </div>

                      <div class="col-12">
                        <label for="Quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="Quantity" required>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="status" required>
                          <label class="form-check-label" for="status">
                            Status
                          </label>
                        </div>
                      </div>
                      <div class="row p-3">
                        <div class="col-6 d-grid gap-2 m-auto">
                          <button type="submit" value="Submit" class="btn btn-primary">Create</button>
                        </div>
                      </div>
                  </form>

                </div>
            </div>

          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer th:replace="admin/fragmientAdmin/footer"></footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<div th:replace="admin/fragmientAdmin/addjs"></div>
</body>
</html>
